<ActionBar class="action-bar" flat="true">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Native APIs"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout class="">
        <Button class="btn btn-primary btn-rounded-lg" text="Toggle Flashlight 🔦" (tap)="toggleFlashlight()"></Button>
        <Button class="btn btn-primary btn-rounded-lg" text="Play a sound 🐵" (tap)="playSound()"></Button>
    </StackLayout>
</GridLayout>