<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Native APIs"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout class="p-20">
        <Button class="btn btn-primary btn-rounded-sm" text="Toggle Flashlight 🔦" (tap)="toggleFlashlight()"></Button>
    </StackLayout>
</GridLayout>