<ActionBar class="action-bar" flat="true">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="AppSync"></Label>
</ActionBar>

<GridLayout class="page">
    <ScrollView #scrollView (scroll)="onScroll($event, scrollView, topView)">
        <StackLayout>
            <StackLayout #topView height="250" class="about-bg">
            </StackLayout>
            <StackLayout width="100%" padding="20" backgroundColor="white">
                <Label textWrap="true" text="New York Sity" class="description-label"></Label>
                <Label textWrap="true" text="The City of New York, usually called either New York City (NYC) or simply New York (NY), is the most populous city in the United States. With an estimated 2018 population of 8,398,748 distributed over a land area of about 302.6 square miles (784 km2), New York is also the most densely populated major city in the United States."></Label>
                <Label textWrap="true" text="New York is also the most densely populated major city in the United States. Located at the southern tip of the state of New York, the city is the center of the New York metropolitan area, the largest metropolitan area in the world by urban landmass and one of the world's most populous megacities, with an estimated 19,979,477 people in its 2018 Metropolitan Statistical Area and 22,679,948 residents in its Combined Statistical Area."></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>

