<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Maps"></Label>
</ActionBar>

<GridLayout rows="*, auto" class="page">
    <ContentView rowspan="2" height="100%" width="100%">
        <Mapbox
            accessToken="pk.eyJ1IjoidGp2YW50b2xsIiwiYSI6ImNpaHdjN2RwcDAyam50NWtoaXpscGJidnMifQ.R1s89uuLt3BKNHytLasOiw"
            mapStyle="traffic_day"
            latitude="37.785834"
            longitude="-122.40417"
            hideCompass="true"
            zoomLevel="11"
            showUserLocation="true"
            (mapReady)="onMapReady($event)">
        </Mapbox>
    </ContentView>
    <FlexboxLayout class="button-row" row="1" orientation="horizontal">
        <Button text="Markers" class="btn btn-primary btn-rounded-lg" (tap)="addMarkers()"></Button>>
        <Button text="Animate" class="btn btn-primary btn-rounded-lg" (tap)="animateCamera()"></Button>
        <Button text="Draw" class="btn btn-primary btn-rounded-lg" (tap)="draw()"></Button>
    </FlexboxLayout>
</GridLayout>