<ActionBar class="action-bar" flat="true">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Bluetooth"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout>
        <Button text="Connect 🔌" class="btn btn-primary btn-rounded-lg" (tap)="connect()"></Button>
        <Button text="Move 🤖" class="btn btn-primary btn-rounded-lg" (tap)="move()"></Button>
    </StackLayout>
</GridLayout>