<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Augmented Reality"></Label>
</ActionBar>

<GridLayout class="page">
    <Label text="AR"></Label>
    <!--<AR
        debugLevel="FEATURE_POINTS"
        detectPlanes="true"
        [planeMaterial]="planeMaterial">
    </AR>-->
</GridLayout>